.sign {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  form {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      text-align: center;
    }
    .input {
      margin: 0.5rem;
    }
  }
  @media screen and (max-width: 562px) {
    form {
      width: 70%;
    }
  }
}
