.formalcards {
  position: relative;
  img {
    width: 300px;
    height: 300px;
    padding: 0 2%;
    margin: 10px;
    object-fit: cover;
    background-color: antiquewhite;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
  }
  @media screen and (max-width: 300px) {
    img {
      width: 280px;
      height: 280px;
    }
  }
  p {
    text-align: center;
    padding-bottom: 1rem;
  }
}
.null {
  display: none;
}
